.git
.gitignore

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*

node_modules/
venv/
__pycache__/
.mypy_cache/
.pytest_cache/

*.pyc
*.pyo
*.pyd

tmp/
temp/
*.swp
*.swo
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

.dockerignore
